target/*
!target/pit-reports/
!target/pit-reports/**

# Maven specific
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Project specific
site-content
/.classpath
/.project
/.settings/

# IntelliJ files
/.idea/
*.iml
